{% block header %}
<div id="header" class="container">
	<div id="logo">
		<h1><a href="#">PyBank</a></h1>
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="/home/" accesskey="1" title="">Home</a></li>
			<li><a href="/login/" accesskey="2" title="">Login</a></li>
			<li><a href="/about/" accesskey="3" title="">About Us</a></li>
			<li><a href="/signup/" accesskey="4" title="">Register</a></li>
			<li><a href="/contact/" accesskey="5" title="">Contact Us</a></li>
		</ul>
	</div>
</div>
{% endblock %}
