<!doctype html>
<html>
<head>
  <title>Login</title>
    {% load static %}
    <link href={% static 'myapp/main.css' %} rel="stylesheet" type="text/css" media="all" />
</head>
<body>
{% include 'myapp/head.html' %}
{% block header %}
{% endblock %}

<div align="center">
  <h1>Welcome Back {{ name }}</h1><br><br><br>
    <h3>Choose The Following Service To Continue</h3><br><br>
  <h3><a href="/credit/">Credit</a><br>
    <a href="/debit/">Debit</a><br>
    <a href="/chk_bal/">Check Balance</a><br>
    <!--<a href="/edit_profile/">Edit Profile</a><br>-->
    <a href=""></a>
    <a href=""></a>
      </h3>
</div>

{%include 'myapp/foot.html' %}
{% block footer %}
{% endblock %}
</body>
</html>
